 #header, #dashboard-header, #register-header {
  width: 100%;
  height: 55%;
  opacity: 85%;
  text-align: center;
  margin-bottom: 2%
}

#header {
  background-image: url("https://i.imgur.com/E5Yx73S.jpg");
  background-position: top;
}

 .header-text {
  padding: 15%;
  color: white;
  font-size: 350%;
} 

#dashboard-header {
  background-image: url("https://previews.dropbox.com/p/thumb/ABC9lyhmvktlK6nh35rgZtg9tda0uKxkZO8F04dcZF0rxb4nbiduhnhPXIZoBMC6kRPBqjSWtZPDVuGQcrJrU1t_ex_plw3t0jtjcICO7e4XnM5lhXNZqI5JjCWpF74xGA_jtHHF4UHrpP4QCcXd4xGN-t3HNX_7fKNeAWI13lzPzbbk2TgWSs4RvDkLoedS5q0c9ml5lP-4umCdnpZ3r6lTAiUpW_V2UvGO2m7_DP3PHl5Nnaip0OoCfMbLQT-P1NmVXBk4nfVBrPKEAZxeEgS1Jj0BXnomJoHeWwFA5Rz9hSFrp1qHThByNYz-IKnbP999vjXRSCBXTzD99DPK1QB3UPngEypE_lheIWuuDmbjyQ/p.jpeg?fv_content=true&size_mode=5");
  background-position: center;
}

#register-header {
  background-image: url("https://previews.dropbox.com/p/thumb/ABGeJYF6UgTUpaANtubE752JkO-EvN7UU8O3xKyCzRDyiXgS0uIzrEqUdnBUO6bwrE03Fbb07OBgNhxx8agbLFMSyM2AbZnmX36_ROUDtJ_f5jSXic-s5-rnXi4qRVv19yaTAz6MrNECRl01N8uD61ZTa7awUwJuX3Egien2vmXTJyBdQ8Q4N01jbcOsLWBll5VNkP9kjMwGrIjTUcxAwpMkbO8kgOEPXIbzRoDReByrAWevx7I1HtRjkjGwcJc1dZLCrMhSFIfQU4_u7f7ZpgQr_l4zxyquMrl9HYw9ezBn8JxAggwKtO1iOVVqLlVQBy4SdFO9i-qJd3eiiKu6O8UUJbi-hboMOq3AHz5qimHRtA/p.jpeg?fv_content=true&size_mode=5");
  background-position: bottom;
}

#user-items, #register-now {
  text-align: center;
}

#dashboard-welcome {
  margin-bottom: 2%;
  margin-top: 2%;
  text-align: center;
}

#my-listings-heading {
  margin-bottom: 2%;
  margin-top: 2%;
  text-align: center;
}

#register-now {
  margin-top: 4%;
}

#new-user-div {
  width: 50%;
  margin: 2%
} 

#listings-container {
  display: inline-grid;
  
}

ul {
  list-style-type: none;
}

.sub-heading {
  text-align: center;
}


.user-items-list {
  float: left;
  width: 30%;
  margin: 1%;
  /* border-style: ridge; */
  border-radius: 6%;
  text-align: left;
}


.section-heading {
  margin-bottom: 4%;
  margin-top: 4%;
  text-align: left;
} 

.item-img {
  max-width: 100%;
  border-radius: 5%;
}

.listing-name {
  text-align: center;
}

.listing-info {
  margin: 2% 0 0 6%;
}
